body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d8792b;
  color:white;
  
  
}

.text{
  text-align: center;
  display:contents;
}

code{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table{
  width: 45%;
  height: 45%;
  
}

.container{
    display: flex;
    min-height: 72vh;
    font-size:x-large;
    text-align: center;
    justify-content: center;
    align-items: center;
}
